@import "../../App.scss";
#homefeed {
  margin-top: 74px;
  display: flex;

  #leftArea {
    position: fixed;
    width: fit-content;
    padding: 0 20px;
    background-color: #ececec;

    #profileName {
      text-align: center;
      font-size: 1.2em;
    }
  }

  #middleArea {
    position: relative;
    left: 300px;
    width: 60%;
    #postArea {
      form {
        textarea {
          resize: none;
          width: 100%;
          padding: 10px;
          border-radius: 5px;

          &:focus {
            outline: none;
          }
        }

        #postBtns {
          display: flex;
        }
      }
    }

    #userPosts {
      margin-top: 20px;

      .postCard {
        animation: animateOnPost;
        animation-duration: 700ms;
      }

      @keyframes animateOnPost {
        from {
          transform: translateY(-20px);
          opacity: 0;
        }
        to {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }
}
